# Log
*.log.*

# XLSX
*.xls
*.xlsx

# Notebooks
notebooks/

# IDE config
.vscode

# Ignore files
.storage
blueprints
notebooks

# Database
*.db
*.db-wal
*.db-shm

# Logs
*.log
*.log.bk

# Python
*__pycache*
*.ipynb_checkpoints

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
secrets.yaml

.cloud/
.Trash-0
home_assistant.db 
esphome/tno-esp32-001.yaml
esphome/trash/pm02.yaml
esphome/my_components/T9602/__init__.py
esphome/my_components/T9602/sensor.py
esphome/my_components/T9602/T9602.cpp
esphome/my_components/T9602/T9602.h
esphome/tno-esp32-poe.yaml
esphome/trash
tesla_fleet.key
esphome/tno-esp32-l1.yaml
esphome/tno-esp32-l2.yaml
esphome/tno-esp32-l3.yaml
esphome/tno-esp32-l4.yaml
esphome/tno-esp32-l5.yaml
tts
